<div>
  <input placeholder="Search by username..." [formControl]="searchField" 
    (focus)='this.showUserList(true)' 
    (keyup)='this.handleKeyEvent($event)'
    (blur)='this.showUserList(false)' 
  />
  <div class='member-autocomplete-list_holder' *ngIf='this.showList'>
    <div *ngIf='this.usersLoading'>
      Loading users..
    </div>
    <ul *ngIf='!this.usersLoading' class='member-autocomplete-list'>
      <li class='member-autocomplete-item' *ngFor="let user of this.searchUserList | async" (mousedown)="this.addAsMember(user.id);">
        {{ user.username }} 
      </li>
    </ul>
  </div>
</div>