.member-autocomplete-list_holder {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px;
}

.member-autocomplete-list {
    margin-bottom: 0px;
    padding-left: 15px;
}

.member-autocomplete-item:hover {
    cursor: pointer;
    color: #31708f;
}