.item-container {   
    height: 27px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.item-name {
    display: inline-flex;
    vertical-align: middle;
    height: 27px;
    line-height: 27px;
    padding-left: 10px;
}

.item-button-holder {
    float: right;
    height: 27px;
}

.item-button-holder button {
    height: 26px;
}