<div class='container'>
  <div *ngIf="this.confirmOperation" class="alert alert-success text-center">
    Operation successfull!
  </div>
  <div *ngIf="this.errorMessage" class="alert alert-danger center-block">
    <span class="inline-block">
      Error: {{ this.errorMessage }}
      <br/> Please retry later!
    </span>
  </div>
  <div class='button-menu'>
    <button class='text-info' (click)="this.addGroup()">
      + group
    </button>
  </div>

  <div *ngFor="let group of groupList">
    <app-group-overview-item [groupData]="group" (deleteRecord)="handleDelete($event)" (editRecord)="editGroup($event)">
    </app-group-overview-item>
  </div>

  <ng-container *ngIf="this.showEdit()">
    <app-group-edit-window [groupData]="this.getEditData()" [userList]="userList" (closeWindow)="this.resolveEdit($event)">
    </app-group-edit-window>
  </ng-container>
</div>